:root {
  --azul-institucional: #004080;
  --cinza-fundo: #f5f7fa;
  --texto: #333;
  --borda: #dcdcdc;
}

body {
  font-family: Arial, sans-serif;
  background: var(--cinza-fundo);
  margin: 0;
  padding: 0;
}

header {
  background: var(--azul-institucional);
  font-size: 12px;
  color: #fff;
  padding: 0.1rem 0;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.table-container {
  overflow-x: auto;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--borda);
  padding: 0.75rem;
  text-align: left;
  font-size: 0.9rem;
}

th {
  background: var(--azul-institucional);
  color: #fff;
}

tr:nth-child(even) {
  background: #f9f9f9;
}


button {
  background-color: #F44336;
  color: white;
  width: 90px;
  height: 30px;
  
}

button:hover {
  background-color: #D32F2F;
  transform: scale(1.05);
}


.btn-home {
  position: fixed;
  top: 70px;
  left: 25px;
  background-color: #004080;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.btn-home:hover {
  background-color: #002850;
  transform: scale(1.1);
}


@media (max-width: 768px) {
  th, td {
    font-size: 0.8rem;
  }
}
